{% extends "layout.html" %}

{% block title %}
    Take Action Today
{% endblock %}

{% block main %}
    <div class="section" data-background-color="#16a085">
        <h1 class="headline">
            Activism isn't always the most accessible or intuitive. We're here to change that.
            <br>
            <br>
        </h1>
    </div>
    <div class="headline hpart2">
        <h1>
            A protest can take many forms, from assembling in solidarity for a cause, or with those who share a marginalized identity, to marching to your local statehouse and making demands. Use our tools to ensure that you're informed and effective.
            <br>
            <br>
        </h1>
    </div>
    <div class="headline hpart3">
        <h1>
            Always wanted to attend a protest, but don't know where to start? Click <a href="/protests">here!</a>
            <br>
            <br>
        </h1>
    </div>
    <div class="headline hpart3">
        <h1>
            Want to know the steps to keep you and your loved ones safe while attending protests? We've got you, right <a href="/resources">here.</a>
            <br>
            <br>
        </h1>
    </div>
    <div class="headline hpart3">
        <h1>
            Just want to know what's happening across the country? Look no further than <a href="/resources">here.</a>
            <br>
            <br>
        </h1>
    </div>
    <footer class="footer">
        <br>
        <br>
        <br>
        <p>Created by: Hakeem Angulu</p>
        <p>Contact information: <a href="mailto:hangulu@college.harvard.edu">
        hangulu@college.harvard.edu</a>.</p>
    </footer>
{% endblock %}
