{% extends "layout.html" %}

{% block title %}
    Take Action Today
{% endblock %}

{% block main %}
    <div class="section" data-background-color="#16a085">
        <h1 class="headline">
            Activism isn't always the most accessible or intuitive. We're here to change that.
        </h1>
    </div>
    <!-- <div class="section protest1">
        <a href="https://www.theguardian.com/commentisfree/2016/jul/22/i-wasnt-afraid-i-took-a-stand-in-baton-rouge-because-enough-is-enough"><img src="https://image.ibb.co/dvL4cw/protest1.jpg" alt="Ieshia Evans Protest"></a>
    </div> -->
{% endblock %}
