{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
    <div class="section" data-background-color="#16a085">
        <h1>
            We've pulled together a list of key tips from a few good protest sources, like <a href="https://right-to-protest.org/protect-your-protest/">Right To Protest</a> and <a href="https://broadly.vice.com/en_us/article/kze8dy/how-to-prepare-and-stay-safe-while-you-protest">Vice</a>. The list isn't exhaustive, so be sure to incorporate other sources!
        </h1>
    </div>
    <div>
    	<h2 class="acc-header">
    		Before
    	</h2>
    </div>
    <!-- Protest tips accordion -->
    <div class="protest-tips">
	    <div class="panel-group" id="accordion">
	    	<div>
		        <div class="card">
		            <div class="card-header" role="tab">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Make Informed Decisions</a>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse">
		                <div class="card-body">
		                	<strong>
		                		Know your rights.
		                	</strong>
		                	<br>
		                    <p>
		                    	There are a number of rights that you exercise when taking the part in protests. But rules and regulations on protest vary from country to country so make sure you find out what they are and how existing restrictions might affect your participation in a particular protest.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Be clear about the background of the protest.
		                	</strong>
		                	<br>
		                    <p>
		                    	What exactly are you fighting for? Think about the risks, opportunities and legal implications of the protest. Decide what you think and what you feel comfortable doing.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Determine a meeting place in case you get separated from your companions.
		                	</strong>
		                	<br>
		                    <p>
		                    	Don't count on your phone to connect with friends or family if you get separated in a large crowd. At protests, there is often increased cell and streaming activity. Use the app below in case you need help communicating.
		                    </p>
		                    <p>
		                    	FireChat – <a href="https://itunes.apple.com/us/app/firechat/id719829352?mt=8">iOS</a> / <a href="https://play.google.com/store/apps/details?id=com.opengarden.firechat&hl=en">Android</a> – free instant messaging that doesn’t require signal or mobile data, great for huge crowds
		                	</p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div>
		        <div class="card">
		            <div class="card-header" role="tab"">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span> Protect Your Privacy</a>
		                </h4>
		            </div>
		            <div id="collapseTwo" class="panel-collapse collapse in">
		                <div class="card-body">
		                	<strong>
		                		Don't make it easy to be found.
		                	</strong>
		                	<br>
		                    <p>
		                    	In today’s world, it’s essential to protect your privacy, online and offline. And it’s not just about you: if you protect your own privacy, it will also help protect your friends’ privacy. Be aware that snoopers look for specific key words on social media that might suggest you’re participating in a protest.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Cover your face if legal/helpful, and blur the faces of others in pictures.
		                	</strong>
		                	<br>
		                    <p>
		                    	Some demonstrators wear face paint, glasses, hoods or masks to conceal their identity. But others use these to carry out criminal acts and discredit the protest. Be aware of the implications of disguising yourself, as it might be illegal in your location.
		                	</p>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
	<div>
    	<h2 class="acc-header">
    		During
    	</h2>
    </div>
    <div class="protest-tips">
	    <div class="panel-group" id="accordion">
	    	<div>
		        <div class="card">
		            <div class="card-header" role="tab">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span> Make Good Filming/Photography Choices</a>
		                </h4>
		            </div>
		            <div id="collapseThree" class="panel-collapse collapse">
		                <div class="card-body">
		                	<strong>
		                		Don't assume everyone wants to be filmed/photographed.
		                	</strong>
		                	<br>
		                    <p>
		                    	Some people want to protect their identity. They may not want to be shown on social networks. Whenever possible, ask for their permission. This however does not apply to the police. It is your right to film interactions between citizens and police in a protest.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Be aware of the implications of filming police abuses or violence.
		                	</strong>
		                	<br>
		                    <p>
		                    	In some situations police officers may react negatively to being filmed. Protect the material before leaving the demonstration. Hide it, encrypt it, copy or share it in case the police try to delete or confiscate it. There are many applications for mobile devices that allow you to do it all safely.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Use apps to film the police.
		                	</strong>
		                	<br>
		                    <p>
		                    	Several apps exist to be able to film the police effectively. Research them and use them.
		                    </p>
		                    <p>
		                    	<a href="https://www.aclu.org/issues/criminal-law-reform/reforming-police-practices/aclu-apps-record-police-conduct">ACLU Mobile Justice Apps</a>
		                	</p>
		                	<p>
		                		<a href="http://www.thetechchallenge.org/the-international-evidence-locker-app-update/">The International Evidence Locker</a>
		                	</p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div>
		        <div class="card">
		            <div class="card-header" role="tab">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-plus"></span>Be Prepared In Case Things Go Wrong</a>
		                </h4>
		            </div>
		            <div id="collapseFour" class="panel-collapse collapse in">
		                <div class="card-body">
		                	<strong>
		                		Plan what to do in case of violent clashes, mass arrests or stampedes:
		                	</strong>
		                	<br>
		                    <p>
		                    	If things get out of hand follow the plan you agreed beforehand. Do things systematically: deal with the situation, get to a safe place – leave calmly, and check in with your safety network.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Learn how to deal with tear gas.
		                	</strong>
		                	<br>
		                    <p>
		                    	This causes irritation, especially to eyes and skin. Move upwind, breathe slowly and avoid touching the affected part. Research and carry a soothing liquid. Be careful if you have a medical condition.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Know your rights if you are arrested.
		                	</strong>
		                	<br>
		                    <p>
		                    	Don’t resist arrest. Stay calm and in control of your words, body language and emotions. Ask about the charges and where you are being taken. Demand immediate medical attention if injured. If possible, try to ensure other protesters know your name and age before you are detained. When arrested, you should have the right to remain silent. You may simply say, “I am going to remain silent and would like a lawyer.
		                	</p>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
	<div>
    	<h2 class="acc-header">
    		After
    	</h2>
    </div>
    <div class="protest-tips">
	    <div class="panel-group" id="accordion">
	    	<div>
		        <div class="card">
		            <div class="card-header" role="tab">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-plus"></span> Return Home Safely</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="card-body">
		                	<strong>
		                		Be prepared that you might be stopped and searched by the police.
		                	</strong>
		                	<br>
		                    <p>
		                    	It is safer to leave the protest in groups, as this is often the time when arbitrary arrests take place. Make sure someone knows when you leave and when you are safely home.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		If you’re not safe and sound, ask for help.
		                	</strong>
		                	<br>
		                    <p>
		                    	Depending on what’s happened, rely on your community, the fellow protesters, or your friends/family. Just don’t feel pressured to deal with whatever happened on your own.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Follow-up with the organizers, or other protestors, for next steps.
		                	</strong>
		                	<br>
		                    <p>
		                    	A protest is only a starting point. There might be immediate action (e.g., a bailout fund if someone was arrested) needed, so check in.
		                    </p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div>
		        <div class="card">
		            <div class="card-header" role="tab">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-plus"></span>Share Your Experience</a>
		                </h4>
		            </div>
		            <div id="collapseSix" class="panel-collapse collapse in">
		                <div class="card-body">
		                	<strong>
		                		Delete revealing information before sharing.
		                	</strong>
		                	<br>
		                    <p>
		                    	When you take a picture or make a video, your digital camera/phone will attach information (i.e. time, location, device type) that could reveal your identity. Use applications such as <a href="https://guardianproject.info/apps/obscuracam/">ObscuraCam</a> to erase this data.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Speak out against censorship.
		                	</strong>
		                	<br>
		                    <p>
		                    	If you think social media networks are deleting posts or blocking users, ask them to explain if this is the case and demand answers from them. Many will have buttons through which you can submit questions or complaints.
		                	</p>
		                </div>
		                <div class="card-body">
		                	<strong>
		                		Pursuing justice for injury, arbitrary arrest or other violations.
		                	</strong>
		                	<br>
		                    <p>
		                    	Nobody deserves to be mistreated, so if you’ve been treated unjustly consider complaining to the relevant authorities or civil society groups. Get legal advice and support from local human rights groups before doing so.
		                	</p>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
	<footer class="footer">
		<br>
        <br>
        <br>
        <p>Created by: Hakeem Angulu</p>
        <p>Contact information: <a href="mailto:hangulu@college.harvard.edu">
        hangulu@college.harvard.edu</a>.</p>
    </footer>
{% endblock %}
